<html>
	</head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
		<div class="container" style="width: 50%;">
			<h1 style="text-align: center;"><a href="/">OpenDir-DL</a></h1>
			<form action="/results" method="get">
				<div class="input-group">
					<input type="text" class="form-control" name="q"></input>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">Submit</button>
					</span>
				</div>
			</form>

			<hr>

			<p>Showing results {{ (paginator.current_page - 1) * num_results_per_page + 1 }} through {{ (paginator.current_page - 1) * num_results_per_page + results|length}} of {{ num_total_results }} for "{{ query }}"</p>

			<div style="text-align: center; margin: 20px">
			{% for button in paginator.render_list() %}
				{% if button.type == "page" and button.number == paginator.current_page %}
				<a class="btn btn-primary" style="width: 45px" href="/results?q={{ query }}&page={{ button.number }}" disabled>{{ button.value }}</a>
				{% elif button.type == "jump" or button.type == "step" %}
				<a class="btn btn-default" href="/results?q={{ query }}&page={{ button.number }}">{{ button.value }}</a>
				{% else %}
				<a class="btn btn-primary" style="width: 45px" href="/results?q={{ query }}&page={{ button.number }}">{{ button.value }}</a>
				{% endif %}
			{% endfor %}
			</div>

			{% for result in results %}
			<div>
				<h4><a href="{{ result.url }}">{{ result.name }}</a></h4>
				<p>
					<strong>Content Size:</strong> {{result.content_length}}<br>
					<strong>Content Type:</strong> {{result.content_type}}<br>
					<strong>Last Modified:</strong> {{result.last_modified}}
				</p>
			</div>
			<hr>
			{% endfor %}

			<div style="text-align: center; margin: 20px">
			{% for button in paginator.render_list() %}
				{% if button.type == "page" and button.number == paginator.current_page %}
				<a class="btn btn-primary" href="/results?q={{ query }}&page={{ button.number }}" disabled>{{ button.value }}</a>
				{% elif button.type == "jump" or button.type == "step" %}
				<a class="btn btn-default" href="/results?q={{ query }}&page={{ button.number }}">{{ button.value }}</a>
				{% else %}
				<a class="btn btn-primary" href="/results?q={{ query }}&page={{ button.number }}">{{ button.value }}</a>
				{% endif %}
			{% endfor %}
			</div>

		</div>
	</body>
</html>
